/* comments !! */
.subtitle {
  font-style: italic;
  background-color: white;
  color: #27c5f1;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#header {
  height: fit-content;
  line-height: normal;
}

#paint {
  float: left;
  margin-right: 2%;
  width: 9%;
}

#pic {
  float: right;
  width: 18%;
}

#right {
  float: right;
  width: 39%;
}

#left {
  float: left;
  width: 45%;
}

h1 {
  background-color: white;
  color: #27c5f1;
  font-size: 2rem;
  font-family: monospace;
}

h2 {
  color: white;
  background-color: #f15025;
  font-size: 1.5rem;
}

h3 {
  color: white;
  font-size: 1.2rem; /* hello */
  background-color: #5327f1;
}

h4 {
  color: #f15025;
}

h5 {
  font-size: 1rem;
}

strong {
  color: white;
  background-color: #27c5f1;
  font-size: 1.5rem;
}

em {
  background-color: #c5f127;
}
body {
  background-color: white;
}

* {
  color: midnightblue;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #c5f127;
  font-style: bold;
}
