/* comments !! */
.subtitle {
  font-style: italic;
  background-color: grey;
  color: white;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#header {
  height: fit-content;
}

#paint {
  float: left;
  margin-right: 35px;
  width: 9%;
  margi
}

#pic {
  float: inline-end;
  float: right;
  width: 15%;
}

#right {
  float: right;
  width: 42%;
}

#left {
  float: left;
  width: 42%;
}

h1 {
  background-color: grey;
  color: white;
  font-size: 2rem;
  font-family: monospace;
}

h2 {
  color: white;
  background-color: orangered;
  font-size: 1.5rem;
}

h3 {
  color: white;
  font-size: 1.4rem; /* hello */
  background-color: midnightblue;
}

h4 {
  color: orangered;
}

h5 {
  font-size: 1rem;
}

strong {
  color: white;
  background-color: grey;
  font-size: 1.5rem;
}

em {
  background-color: lightgrey;
}
body {
  background-color: white;
}

* {
  color: midnightblue;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: lightsteelblue;
  font-style: bold;
}
