html {
  min-height: 100%;
  position: relative;
}

img {
  width: 100%;
  min-width: 140px;
  max-width: 200px;
  border-radius: 20px;
  border: 2px solid black;
}

#paint {
  width: 20px;
  background-image: url("pic2.png");
  height: 100%;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

#header {
  margin-left: 20px;
  height: fit-content;
}

#main {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  width: 280px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

ul li {
  color: black;
  margin-left: 0;
  list-style: none;
}

ul li p {
  margin-left: 0;
}

#pic {
  display: flex;
  justify-content: center;
}

h1 {
  color: black;
  font-size: 25px;
  font-family: monospace;
  margin: 20px 8px;
}

h2 {
  color: black;
  font-size: 1.5rem;
  margin-left: 10px;
  text-align: center;
}

h3 {
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 10px;
  padding-right: 0px;
  font-weight: bolder;
  font-size: larger;
}

h3 span {
  background-color: midnightblue;
  font-size: 1.2rem;
  color: white;
}

h4 {
  color: black;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

h5 {
  font-size: 1rem;
  margin: 0.5%;
  margin-left: 2%;
}
p {
  text-indent: 40px;
}

em {
  font-weight: bold;
  font-style: italic;
}

body {
  background-color: white;
  margin: 0%;
  height: 100%;
}

* {
  color: black;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: grey;
}

a:hover {
  background-color: greenyellow;
}

a:active {
  color: white;
  background-color: #ec3f0f;
}
