@import "variables";
// css/styleindex.css
body {
  font-family: avenir;
}
/* peinture a gauche */
#paint {
  width: 30px;
  background-image: url("../images/image.jpg");
  height: 100%;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  transition: all 750ms;
  &:hover {
    width: 174px;
  }
}

// header webdeveloper
header {
  border: 4px solid gold;
  box-shadow: 2px 2px mistyrose;
  margin: $mainleftmargin;
  background-color: midnightblue;
  & a {
    text-decoration: none;
    color: mistyrose;
  }
}
.titlesup {
  color: crimson;
}
// articles
article {
  margin: $mainleftmargin;
  background-color: white;
}
footer {
  margin: $mainleftmargin;
  background-color: white;
}
