@import "variables", "mixins", "paint", "header", "footer";
// css/styleindex.css
body {
  font-family: "avenir", sans-serif;
  margin: 0px;
  font-size: larger;
}

// articles
main {
  display: flex;
  margin: 3rem;
  flex-direction: row;
}

article {
  padding: 50px;
  margin: 0px 0px 0px 0px;
  border-right: 4px solid $accent;
  background-color: $bg;
  display: inline-block;
  transition: 500ms;
  & h2 {
    @include h2color;
    margin: 20px;
  }
  &:hover {
    background: $headershadow;
  }
}
.article__alt {
  &:hover {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
.article__ocr {
  border: none;
  &:hover {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  article {
    padding: 20px;
  }
  .article__alt {
    border-right: none;
    border-bottom: 4px solid $accent;

    &:hover {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: initial;
    }
  }
  .article__ocr {
    &:hover {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: initial;
      width: fill;
    }
  }
}
