/* font */
* {
  font-family: "Raleway", sans-serif;
}

/*mise en forme header*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}

.menu li {
  display: inline-flex;
  padding: 0 2rem;
}

.inscription {
  color: #0064fc;
}
/* end of mise en forme header*/

.search_field {
  padding: 0 3rem;
}

/* flexbox hébergements */
.core {
  display: flex;
  flex-direction: row;
}
article {
  border: 1px solid black;
  width: calc(100vw - 3rem - 35vw);
  max-height: 500px;
  margin-right: 1rem;
}

aside {
  border: 1px solid black;
  width: calc(100vw - 3rem - 70vw);
  max-height: 500px;
  margin-right: 1rem;
}

.views p {
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid black;
}

.views {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sideviews p {
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid black;
}
.sideviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* end of flexbox hébergements*/
/*flexbox  activités*/
.legs {
  border: 1px solid black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pic {
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  width: 18vw;
}
/* end of flexbox hébergements et activités*/

/* flexbox footer */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
}

/* end of flexbox footer */

/* mise en forme search field */
.search_field_button {
  color: white;
  background-color: #0064fc;
  margin: 0px;
  padding: 0px;
}
input {
  margin: 0px;
}

a:hover {
  /*text-decoration: overline;*/
  color: #0064fc;
  border-top: 1px solid #0064fc;
}

a {
  text-decoration: none;
  color: black;
}
