/* font */
* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
.bloc_page {
  padding: 0 3vw;
  box-sizing: border-box;
}

body {
  margin: 0;
}
/*navbar*/
.inscription {
  color: #0064fc;
}

/*mise en forme header*/
.header {
  display: flex;
  justify-content: space-between;
}
ul {
  margin: 0;
}
.menu li {
  display: inline-flex;
  padding-left: 3vw;
}
/* mise en forme search field */
.search_field_form_input {
  border: 1px solid #f2f2f2;
  outline: none;
  height: 45px;
  margin: 0;
}

.gps {
  border: none;
}

.search_field_button {
  color: white;
  background-color: #0064fc;
  margin: 0;
  padding: 0;
  height: 45px;
  box-shadow: none;
  border: none;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}
div .location {
  background-color: #f2f2f2;
  display: inline-block;
  border-radius: 10px 10px;
  padding: 0;
  margin: 0;
}

/* end of mise en forme header*/

/* filtres */
.filter {
  color: #0065fc;
  background-color: white;
  border-radius: 30px 30px;
  padding: 0 0.8rem 0 0;
  border: 1px solid #f2f2f2;
  margin: 1rem;
}
.fas.fa-money-bill-wave {
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  padding: 0.8rem;
  background-color: #deebff;
}

/* Les plus populaires */
.aside_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 40px 25px 40px;
}

.article_title {
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
}

.article_end {
  padding: 40px;
}

/* flexbox hébergements */
.core {
  /*container pour section, aka hébergement + les plus populaire*/
  display: flex;
  flex-direction: row-reverse;
}

article {
  /* aka hébergements */
  border-radius: 20px 20px;
  flex-shrink: 1;
  background-color: #f2f2f2;
}
.inbetween {
  /* space between article and aside*/
  padding: 20px 20px;
}
aside {
  /* aka les plus populaires*/
  border-radius: 20px 20px;
  flex-shrink: 1;
  padding: 1.5%;
  /* margin-bottom: 30px;
  margin-left: 2%; */
  background-color: #f2f2f2;
}

/* to make article and aside 100% width on small screens, 700px is good */
@media screen and (max-width: 700px) {
  article,
  aside {
    width: 100%;
  }
  .core {
    flex-wrap: wrap;
  }
}

/* views est la box de chaque hébergements dans article */
figure .hotel-1,
figure .hotel-2,
figure .hotel-3,
figure .hotel-4,
figure .hotel-5,
figure .hotel-6 {
  margin: 1.5vw 1.5vw;
  box-sizing: border-box;
  border-radius: 20px 20px;
  border: 4px solid white;
  background-color: white;
  width: 250px;
  height: 200px;
  box-shadow: 2px 2px 2px lightgrey;
  flex-basis: 25%;
}

figcaption {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.hotel-1 img,
.hotel-2 img,
.hotel-3 img,
.hotel-4 img,
.hotel-5 img,
.hotel-6 img {
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 4px solid white;
  width: 250px;
  height: 120px;
}

.views {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* sideviews est la box de chaque hébergement dans aside */
.sideviews figure {
  width: 340px;
  height: 145px;
  margin: 0.75vw;
  box-sizing: border-box;
  border: 2.5px solid white;
  border-radius: 20px 20px;
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
}

.sideviews img {
  object-fit: cover;
  border: 2.5px solid white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 140px;
  width: 130px;
  float: left;
}

.sideviews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .views figure,
  .sideviews figure,
  .pic-1 figure,
  .pic-4 figure,
  .pic-2 figure,
  .pic-3 figure,
  .pic-5 figure,
  .pic-6 figure {
    width: calc(100% - 5vw);
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 700px) {
  .views img,
  .pic-1 img,
  .pic-4 img,
  .pic-2 img,
  .pic-3 img,
  .pic-5 img,
  .pic-6 img {
    width: calc(100% - 2.5px);
  }
}
/* end of flexbox hébergements article + aside */

/*flexbox  activités*/
/*overall activités container*/
.legs {
  border: 1px solid black;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  padding: 0.5vw 1.5vw;
}

/* pic ans picc container */
.pics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* stars */
.stars {
  color: #0065fc;
}

/* figures and images for the pictures*/
.pic {
  min-width: 295px;
  border-radius: 20px 20px;
  border: 1px solid black;
  flex-shrink: 1;
  height: 440px;
}
figure {
  background-color: white;
  margin: 15px 1.5vw 15px 1.5vw;
  border-radius: 20px 20px;
  box-shadow: 2px 2px 2px lightgrey;
}

.pic-1 figure,
.pic-4 figure,
.pic-2 figure,
.pic-3 figure,
.pic-5 figure,
.pic-6 figure {
  min-width: 250px;
}
.pic-1 img,
.pic-4 img,
.pic-2 img,
.pic-3 img,
.pic-5 img,
.pic-6 img {
  object-fit: cover;
  min-width: 250px;
  height: 120px;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}

div .pic-2-3,
div .pic-5-6 {
  display: noflex;
  border: 1px solid black;
  padding: 0px;
}

.pic-1 figcaption,
.pic-2 figcaption,
.pic-3 figcaption,
.pic-5 figcaption,
.pic-6 figcaption,
.pic-4 figcaption {
  height: 60px;
}
/* desktop version of activités a Marseille*/
@media screen and (min-width: 701px) {
  figure .pic-1,
  figure .pic-4 {
    height: 445px;
  }
  .pic-2 figure {
    max-height: 225px;
    margin-top: 0px;
  }
  .pic-3 figure {
    max-height: 150px;
  }

  .pic-5 figure {
    max-height: 180px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .pic-6 figure {
    max-height: 190px;
  }

  div .pic-2-3,
  div .pic-5-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    height: 490px;
    padding: 0px;
  }

  .pic-1 img,
  .pic-4 img {
    object-fit: cover;
    width: 295px;
    height: 390px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
  .pic-2 img {
    object-fit: cover;
    width: 295px;
    height: 180px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
  .pic-3 img {
    object-fit: cover;
    width: 295px;
    height: 100px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }

  .pic-5 img {
    object-fit: cover;
    width: 295px;
    height: 130px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
  .pic-6 img {
    object-fit: cover;
    width: 295px;
    height: 145px;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
  }
}

/* end of flexbox hébergements et activités*/

/* flexbox footer */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
  background-color: #f2f2f2;
  margin: 0px;
}

/* end of flexbox footer */

/* mise en forme des liens */
a:hover {
  color: #0064fc;
  border-top: 1px solid #0064fc;
}

a {
  text-decoration: none;
  color: black;
  padding-top: 1.5rem;
}
