/* font */
* {
  font-family: "Raleway", sans-serif;
}
.bloc_page {
  padding: 0 3vw;
}

body {
  margin: 0;
}

/*mise en forme header*/
.header {
  display: flex;
  justify-content: space-between;
}
ul {
  margin: 0;
}
.menu li {
  display: inline-flex;
  padding-left: 3vw;
}

.inscription {
  color: #0064fc;
}
/* end of mise en forme header*/

/* flexbox hébergements */
.core {
  /*container pour section, aka hébergement + les plus populaire*/
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
}

article {
  /* aka hébergements */
  border-radius: 20px 20px;
  width: calc(100% - 350px - 5%);
  background-color: #f2f2f2;
}

aside {
  /* aka les plus populaires*/
  border-radius: 20px 20px;
  width: 350px;
  padding: 1.5%;
  margin-bottom: 30px;
  margin-left: 2%;
  background-color: #f2f2f2;
}
@media screen and (max-width: 600px) {
  aside,
  article {
    width: 100%;
  }
}

/* views est la box de chaque hébergements dans article */
.views figure {
  margin: 1.5vw 1.5vw;
  box-sizing: border-box;
  border-radius: 20px 20px;
  border: 2.5px solid white;
  background-color: white;
  width: 250px;
  height: 200px;
  box-shadow: 2px 2px 2px lightgrey;
}
.views img {
  object-fit: contain;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2.5px solid white;
  box-sizing: border-box;
  width: 245px;
  height: 120px;
}

.views {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* sideviews est la box de chaque hébergement dans aside */
.sideviews figure {
  width: 340px;
  height: 150px;
  margin: 0.75vw;
  box-sizing: border-box;
  border: 2.5px solid white;
  border-radius: 20px 20px;
  background-color: white;
  box-shadow: 2px 2px 2px lightgrey;
}

.sideviews img {
  object-fit: cover;
  border: 2.5px solid white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 140px;
  width: 130px;
  float: left;
}

.sideviews {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .views p,
  .sideviews p {
    width: calc(100% - 5vw);
  }
}

@media screen and (max-width: 600px) {
  .views img {
    width: calc(100% - 2.5px);
  }
}
/* end of flexbox hébergements article + aside */

/*flexbox  activités*/
/*overall activités container*/
.legs {
  border: 1px solid black;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  padding: 0.5vw 1.5vw;
}

/* pic ans picc container */
.pics {
  display: flex;
  flex-wrap: wrap;
}

/* paragraphs and image for the pictures*/
.pic {
  margin: 1vw;
  min-width: 285px;
  box-sizing: border-box;
  border-radius: 20px 20px;
  border: 1px solid black;
  height: 445px;
}
.pic figure {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  width: 285px;
  border-radius: 20px 20px;
  max-height: 445px;
  box-shadow: 2px 2px 2px lightgrey;
}

.pic img {
  object-fit: cover;
  width: 285px;
  height: 390px;
  border-radius: 20px 20px;
}

.picc {
  /*picc is for the columns with 2 imgs*/
  margin: 20vw;
  min-width: 285px;
  box-sizing: border-box;
  border-radius: 20px 20px;
  border: 1px solid black;
  height: 210px;
}
.picc figure {
  margin: 20px;
  box-sizing: border-box;
  background-color: white;
  width: 285px;
  border-radius: 20px 20px;
  border: 2.5px solid white;
  max-height: 210px;
  box-shadow: 2px 2px 2px lightgrey;
}
.picc img {
  object-fit: cover;
  width: 285px;
  height: 185px;
  border-radius: 20px 20px;
}

/* end of flexbox hébergements et activités*/

/* flexbox footer */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid black;
  background-color: #f2f2f2;
  margin: 0px;
}

/* end of flexbox footer */

/* mise en forme search field */
.search_field_form_input {
  height: 35px;
}

.search_field_button {
  color: white;
  background-color: #0064fc;
  margin: 0px;
  padding: 0px;
  height: 35px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  box-shadow: none;
}
/* mise en forme des liens */
a:hover {
  color: #0064fc;
  border-top: 1px solid #0064fc;
}

a {
  text-decoration: none;
  color: black;
  padding-top: 1.5rem;
}
