.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 2rem;
  height: 700px;
  padding: 2rem;
}

.accomodation {
  height: 500px;
  flex: 63%;
  border: 1px solid green;
  margin-right: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.popular {
  height: 500px;
  flex: 31%;
  border: 1px solid red;
  display: flex;
}

.cards {
  height: 200px;
  flex: 25%;
  border: 2px solid purple;
  margin: 1rem;
}

@media (max-width: 768px) {
}
