body {
  padding: 0;
  margin: 0;
}

.header {
  background: url(images/bg-header.jpg);
  margin: 0;
  padding: 0;
}

.footer {
  background-color: black;
}

main {
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(maroon, bisque);
}

p {
  margin: 0;
}
