html {
  min-height: 100%;
  position: relative;
}

img {
  width: 100%;
  min-width: 140px;
  max-width: 200px;
  border-radius: 20px;
  border: 2px solid black;
}
#top {
  color: black;
  font-weight: 900;
}

#paint {
  width: 20px;
  background-image: url("pic2.png");
  height: 100%;
  background-repeat: repeat-y;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

#header {
  margin-left: 20px;
  height: fit-content;
}

#main {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  width: 280px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  height: fit-content;
  border: 12px solid gold;
  /*box-shadow: 20px -16px teal;*/
}

.section:hover {
  box-shadow: 12px -12px tomato;
}

ul {
  padding: 0.5em;
}

#pic {
  display: flex;
  justify-content: center;
}

h1 {
  color: black;
  font-size: 25px;
  font-family: monospace;
  margin: 0 20px;
}

h1 a {
  text-decoration: none;
  font-family: monospace;
  color: black;
  font-size: 25px;
}

h2 {
  color: indigo;
  font-size: 1.6rem;
  margin-left: 10px;
  text-align: center;
}

h3 {
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;
  margin-bottom: 10px;
  padding-right: 0px;
  font-weight: bolder;
  font-size: larger;
  background-color: transparent;
  color: indigo;
}
h4 {
  color: black;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

p {
  text-indent: 21px;
}

em {
  font-weight: bold;
  font-style: italic;
}

body {
  background-color: white;
  margin: 0%;
  height: 100%;
}

* {
  color: black;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  color: tomato;
  font-weight: bolder;
}

a:hover {
  background-color: lightseagreen;
}

a:active {
  color: white;
  background-color: tomato;
}

header {
  margin: 20px 0 0 0;
}

footer {
  margin: 20px;
  background-color: white;
  padding: 1.5em;
  box-sizing: border-box;
  margin: 0%;
  color: white;
}

ol li {
  line-height: 1.5rem;
  list-style-position: inside;
}
